<div class="tab-pane fade" id="people" role="tabpanel" data-filter-list="content-list-body">
  <div class="content-list">
    <div class="row content-list-head">
      <div class="col-auto">
        <h3>People</h3>
        <button class="btn btn-round" data-toggle="modal" data-target="#people-add-modal">
          <i class="material-icons">add</i>
        </button>
      </div>
      <form class="col-md-auto">
        <div class="input-group input-group-round">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="material-icons">filter_list</i>
            </span>
          </div>
          <input type="search" class="form-control filter-list-input" placeholder="Filter people" aria-label="Filter People">
        </div>
      </form>
    </div>
    <!--end of content list head-->
    <div class="content-list-body row">
      
    </div>
    <!--end of content list body-->
  </div>
  <!--end of content list-->
</div>